* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    background: rgb(33, 33, 33);
    height: 100vh;
    color: #fff;
}
button {
    color: #fff;
}
.App {
    border-top: #f44336 1px solid;
}
